<!doctype html>
<html>
<head>
    <title>Produce Tracker</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/cb8fc1ada5.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
</head>
<body class="profile">
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fas fa-seedling"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <!-- <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div> -->
        </div>
        <div class="col-sm-6">
          <h3>In Season Fruits & Veg</h3>
          <ul class="produce">
          <% for(var i=0; i<inRightNow.length; i++) {%>
            <li class="message">
              <span class="produceName"><%= inRightNow[i].name %></span>
              <span><%= inRightNow[i].season %></span>
              <span class='save'>save</span>
            </li>
          <% } %>
          </ul>
        </div>
        <div class="col-sm-6">
          <h3>Saved Fruits & Veg</h3>
          <ul class="savedProduce">
          <% for(var i=0; i<produce.length; i++) {%>
            <li class="produceItem">
              <span class="produceName"><%= produce[i].name %></span>
              <span class="produceSeason"><%= produce[i].season %></span>
              <!-- <span><i class="fas fa-heart" aria-hidden="true"></i></span> -->
              <button class="deleteSaved">delete</button>
            </li>
          <% } %>
          </ul>
        </div>
        <div class="col-sm-6">
          <h3>All Produce</h3>
          <ul class="savedProduce">
          <% for(var i=0; i<allProduce.length; i++) {%>
            <li class="produceItem">
              <span class="produceName"><%= allProduce[i].name %></span>
              <span class="produceSeason"><%= allProduce[i].season %></span>
              <span class='save'>save</span>
            </li>
          <% } %>
          </ul>
        </div>

<script src="main.js"></script>

</body>
</html>
